@primary-color: #2d8cf0;
@info-color: #42cece;
@success-color : #19be6b;
@warning-color: #ff9900;
@danger-color: #ed4014;


@import 'https://at.alicdn.com/t/font_1581509_gl3d7iclgi.css';

*{
    margin: 0;
    padding: 0;
}

input::-webkit-input-placeholder{
    color:#c5c8ce;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#c5c8ce;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#c5c8ce;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#c5c8ce;
}